<div class="area">

    <div class="cv">

        <h1>Education</h1>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Computer Engineering
                    </mat-panel-title>
                    <mat-panel-description>
                        2016
                    </mat-panel-description>
                </mat-expansion-panel-header>
                School of Computing, Union University Belgrade
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Mathematics
                    </mat-panel-title>
                    <mat-panel-description>
                        2016
                    </mat-panel-description>
                </mat-expansion-panel-header>
                Faculty of Mathematics, University of Belgrade
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        High School
                    </mat-panel-title>
                    <mat-panel-description>
                        2012
                    </mat-panel-description>
                </mat-expansion-panel-header>
                Mathmatical Grammar School
            </mat-expansion-panel>

        </mat-accordion>

    </div>
</div>