<div class="footer">
    <div class="aree">
        <footer>

            <a href='https://t.me/ptrvx'>
                <fa-icon [icon]="telegram" size='lg'></fa-icon>
            </a>

            <a href='https://www.linkedin.com/in/petar-vukovic-3934b1196/'>
                <fa-icon [icon]='linkedin' size='lg'></fa-icon>
            </a>

            <a href='https://join.skype.com/invite/odqtn2nh9hQd'>
                <fa-icon [icon]='skype' size='lg'></fa-icon>
            </a>

            <a href='https://instagram.com/ptrvx'>
                <fa-icon [icon]='instagram' size='lg'></fa-icon>
            </a>

            <a href='https://github.com/ptrvx'>
                <fa-icon [icon]='git' size='lg'></fa-icon>
            </a>

            <a href='https://playoverwatch.com/en-gb/career/pc/Ratep-2260'>
                <fa-icon [icon]='battlenet' size='lg'></fa-icon>
            </a>

        </footer>
    </div>
</div>